MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/secure-web-portal?appName=Cluster0
PORT=3001
JWT_SECRET=<generated_secret>
GITHUB_CLIENT_ID=<your_github_client_id>
GITHUB_CLIENT_SECRET=<your_github_client_secret>
GITHUB_CALLBACK_URL=http://localhost:3001/api/users/auth/github/callback